<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomLog" type="Logger.Common.Configuration.LogSettings, Logger.Common"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BelatrixLog" providerName="System.Data.SqlClient" connectionString="data source=.;database=BelatrixLog;user=BelatrixLogUser;password=belatrixlog;integrated security=false"/>
  </connectionStrings>

  <!-- Level = Message, Warning, Error -->
  <CustomLog level="Message">
    <TextLog path="F:\Usuarios\Rodrigo\Workspace\ExamenBelatrix\Tmp\BelatrixExam.log" maxSize="1024 KB"></TextLog>
    <DatabaseLog databaseLogKey="BelatrixLog"></DatabaseLog>
  </CustomLog>
</configuration>