<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomLog" type="Logger.Common.Configuration.LogSettings, Logger.Common"/>
  </configSections>
  
  <connectionStrings>
    <add name="BelatrixLog" providerName="System.Data.SqlClient" connectionString="data source=.;database=test;user=test;password=test;integrated security=false"/>
  </connectionStrings>

  <!-- Level = Message, Warning, Error -->
  <CustomLog level="Message">
    <TextLog path="F:\Usuarios\Rodrigo\Workspace\ExamenBelatrix\Tmp\BelatrixExam.log" maxSize="1024 KB"></TextLog>
    <DatabaseLog databaseLogKey="BelatrixLog"></DatabaseLog>
  </CustomLog>
</configuration>